.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
*.egg
*.egg-info/
.idea/
*.pyc
celerybeat-schedule

runserver\.pid

test\.py
.env
.idea/*
migrations/versions/*
migrations/seeds/*
migrations/seeds/
migrations/versions/
migrations/versions_backup/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Project Specific
runserver.pid
migrations/versions*
celerybeat-schedule
test.py

runserver.sh
backend.sh
celeryd.sh